@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
            <h2 style="margin-bottom: 20px; margin-top: 40px;">Patient Login</h2>
            
            @using (Html.BeginForm())
            {
                <div class="inner-addon left-addon" style="min-width: 100%;">
                    <i class="glyphicon glyphicon-phone"></i>
                    <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number" style="min-width: 100%;" />
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <input type="submit" value="Request Login Code" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>

