@using PPOk_Notifications.Controllers
@model PharmacistLoginController.LoginResult?

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align:center;">
            <h2 style="margin-bottom:20px; margin-top:40px;">Login</h2>

            @using (Html.BeginForm())
            {
                <div class="inner-addon left-addon" style="min-width:100%;">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <input type="text" name="email" class="form-control" placeholder="Email" style="min-width:100%;"/>
                </div>

                <div class="inner-addon left-addon" style="margin-top: 10px; min-width:100%;">
                    <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" name="password" class="form-control" placeholder="Password" style="min-width:100%;"/>
                </div>

                if (Model != null)
                {
                    <div style="margin-top: 5px;">
                        @switch (Model)
                    {
                        case PharmacistLoginController.LoginResult.WrongPassword:
                                <span style="color: red;">Incorrect password.</span>
                                break;
                            case PharmacistLoginController.LoginResult.UserNotFound:
                                <span style="color: red;">User not found.</span>
                                break;
                            case PharmacistLoginController.LoginResult.PasswordNotSet:
                                <span style="color: red;">No password is set for this user.</span>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    </div>
                }

                <div class="form-group" style="margin-top: 10px;">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>

                <a href="/PharmacistLogin/ResetRequest">Reset Password</a>
            }
        </div>
    </div>
</div>
