@using PPOk_Notifications.Controllers
@model LoginController.ResetResults?

@{
    ViewBag.Title = "Password Reset";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4" style="text-align:center;">
            <h2 style="margin-bottom:20px; margin-top:40px;">Password Reset</h2>
            @switch (Model)
            {
                case LoginController.ResetResults.UserNotFound:
                    <p>User not found.</p>
                    break;
                case LoginController.ResetResults.PasswordNotSet:
                    <p>No password was provided.</p>
                    break;
                case LoginController.ResetResults.PasswordsDontMatch:
                    <p>The given password and confirmation password did not match each other.</p>
                    break;
                case null:
                    <p>You have successfully reset your password!</p>
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }

        </div>
    </div>
</div>