body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Login stuff */
.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0px;

}
.right-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/* Pharmacy Admin page */
.template-container-parent {
    margin: auto;
    width: 90%;
}

.template-container {
    width: 100%;
    text-align: center;
}

.template-container textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: inline-block;
    margin: 0 auto;
}

.template-item {
    text-align: left;
    margin-right: 1.5%;
    margin-left: 1.5%;
    width: 30%;
}
