@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>View</title>
</head>
<body>
	<div>
		<h2>Testing Portal</h2>

		<hr />
		<h3>Database Tests</h3>
        <a href="/test/resetandinsert">Reset Database and Insert fake data</a><br />
		<a href="/test/reset">Reset Database</a><br />
	    <a href="/test/sqlscripts">List SQL scripts</a><br />
		<a href="/test/insertfake">Insert Fake Data</a> <br />
		<a href="/test/getrandomotp">Get Random OTP</a> <br />
		<a href="/test/sendtestemail">Send test emails</a> <br />
	</div>
</body>
</html>