@using PPOk_Notifications.Service
@using PPOk_Notifications.Models

<!DOCTYPE html>
<html>
@{
    bool loggedIn = false;
    bool pharmacist = false;
    bool pharmAdmin = false;
    bool ppokAdmin = false;
    Session["pharm_id"] = (long) 0;
    if (Session["user_id"] != null)
    {
        var user = DatabaseUserService.GetByIdActive((long)Session["user_id"]);
        if (user != null)
        {
            loggedIn = true;
            if (user.Type == PPOk_Notifications.Models.User.UserType.Pharmacist)
            {
                pharmacist = true;
                var pharm = DatabasePharmacistService.GetByUserId(user.UserId);
                if (pharm.IsAdmin)
                {
                    pharmAdmin = true;
                }
                Session["pharm_id"] = pharm.PharmacyId;
            } else if (user.Type == PPOk_Notifications.Models.User.UserType.PPOkAdmin)
            {
                ppokAdmin = true;
            }
        }

    }

}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PPOk</title>
    <link href="~/Content/Site.css?@{@Guid.NewGuid().ToString()}" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>
<body class="site-body">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PPOk Notifier", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (pharmacist || pharmAdmin)
                {
                    <li><a href="~/Pharmacy/RefillListView">Refills</a></li>
                    <li><a href="~/Notification/NotificationList">Notifications</a></li>
                    <li><a href="~/Pharmacy/PatientListView">Patients</a></li>
                    <li><a href="~/Pharmacy/UploadRecalls">Uploads</a></li>
                }
                @if (ppokAdmin)
                {
                    <li><a href="~/PpokAdmin/PharmacyListView">Pharmacies</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (pharmAdmin)
                {
                    <li><a href="~/Pharmacy/Admin">Admin</a></li>
                }
                @if (!loggedIn)
                {
                    <li><a href="~/Login/">Login</a></li>
                }
                else
                {
                    <li><a href="~/Login/Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="site-content container body-content" style="margin-top: 30px">
    @RenderBody()
</div>
<div class="body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - PPOk Notification Scheduler</p>
    </footer>
</div>
</body>
</html>